.Info {
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
}

.info__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.info__detail {
    display: flex;
    flex-direction: column;
    gap:.6rem;
}

button {
    margin-top: 1rem;
}