.Profile {
    position: relative;
    display: grid;
    grid-template-columns: 16rem auto 16rem;
    gap: 1rem;
}

.profile__center {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}